/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* Center Content */
main {
    text-align: center;
}

/* COMING SOON */
.subtitle {
    /* font-family: "DM Sans", sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    margin-bottom: 65px; */

    font-family: "DM Sans", sans-serif;
    font-size: 3.5rem;
    font-weight: 750;
    letter-spacing: 10px;
    color: #666666;
    margin-bottom: 50px;

    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 2.5px solid #4F6EF7;
}

/* Main Banner */
h1 {
    font-family: "Montenegrin Gothic One", sans-serif;
    font-size: clamp(4rem, 9vw, 8rem);
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4F6EF7;
}

/* Footer */
footer {
    font-family: "DM Sans", sans-serif;

    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 0.9rem;
    color: #000;
    white-space: nowrap;
}